html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;

    background-color: transparent;
    background-image: url("./logo.png");
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: none;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    min-width: 0;
    min-height: 0;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
    height: calc(100vh - 20px);
    min-width: 0;
    min-height: 0;
}

.card {
    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.08);
    border-top: 6px solid #ff6600;
    border-radius: 16px;

    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    min-width: 0;
    min-height: 0;
    padding: clamp(8px, 1vh, 16px);

    display: flex;
    flex-direction: column;
    overflow: auto;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.city {
    font-size: clamp(15px, 1.6vw, 32px);
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0,0,0,.9);
}

.zone {
    font-size: clamp(10px, .8vw, 15px);
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0,0,0,.9);
}

.time {
    margin: 6px 0;
    font-size: clamp(16px, 1.8vw, 36px);
    color: #ff8b3d;
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0,0,0,.9);
}

.icon {
    font-size: clamp(28px, 4vh, 54px);
}

.temp {
    font-size: clamp(32px, 5vh, 64px);
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0,0,0,.9);
}

.condition {
    min-height: 0;
    font-size: clamp(13px, 1.1vw, 22px);
    text-shadow: 0 2px 4px rgba(0,0,0,.9);
}

.feels {
    font-size
